* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-navbar {
	background-color: #eaeaea;
}

.container-navbar_ul {
	list-style: none;
	display: flex;
}

.container-navbar_ul_li {

}

.submenu-articles-container {
    position: relative;
}

.container-navbar_ul_li_a {
	text-decoration: none;
	padding: 10px 20px;
	display: inline-block;
}				

.container-navbar_ul_li_a:hover {
	background-color: #ffffff;
}

.submenu-articles-container_content {
    position: absolute;
    top: 100%;
    right: -43%;
    width: 184%;
    background-color: #eaeaea;
    z-index: 10;
    padding: 10px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
}